@mixin border-radius {
  border-radius: 10px;
}

$color-white: #ffffff;
$color-black: #000000;
$color-box-shadow: #e8d5b5;
$color-red: #cf2029;
$color-blue: #211d51;
$color-square-gradient: linear-gradient(4deg, rgba(207, 32, 41,.29) 55%, rgba(33, 29, 81, 0.08) 100%);
$color-square-webkit-gradient: -webkit-linear-gradient(4deg, rgba(207, 32, 41,.29) 55%, rgba(33, 29, 81, 0.08) 100%);


$wrl-primary: #000030
$wrl-secondary: #BEE3F2
$wrl-accent: #00D395
$wrl-light-blue: #3EB7D4
$wrl-light-purple: #597BF5
$wrl-dark-blue: #0C2BD7