@import 'variables';

body:not(.navigation-categories):not(.navigation-topics) #main-outlet {
  @include border-radius;
  box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .10), 0 12px 90px 0 rgba(133, 255, 103, .10);
  padding: 2em;
  background-color: $color-white;
  border-top: 8px solid $tertiary;
  margin-top: .8em;
}


.full-page-chat {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto 1fr;
}

.channels-list {
  grid-column: 1 / 2;
  height: 50% !important;

}

.chat-view {
  grid-row: 1;
  height: 100%;
}

.chat-channel {
  height: calc(100vh - 245px);
}

#main-chat-outlet {
  grid-column: 2/4;
  grid-row: 1/3;
}


#main-outlet-wrapper #main-outlet {
  grid-area: content;
  height: calc(100vh - 200px);
}

span.chat-channel-title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

// #main-outlet:after  {
//   content: "";
//   display: block;
//   position: fixed;
//   z-index: -1;
//   width: 500px;
//   height: 500px;
//   border-radius: 2000px;
//   background: $color-square-webkit-gradient;
//   background: $color-square-gradient;
//   right: 1px;
//   top: -57px;
// }

// #main-outlet:before {
//   content: "";
//   display: block;
//   position: fixed;
//   z-index: -1;
//   width: 300px;
//   height: 300px;
//   border-radius: 30px;
//   background: $color-square-webkit-gradient;
//   background: $color-square-gradient;
//   left: 70px;
//   top: 350px;
//   transform: rotate(74deg);
//   transform-origin: 0 100%;
// }